node_modules/
dist/
dist-ssr/
unpackage/
.npm-cache/
.hbuilderx/
*.log
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local
.env.*.local
!frontend.zip
project.private.config.json
preview-info.json
preview-qr.jpg
